A2/r2n2_shapenet_dataset/
A2/r2n2_shapenet_dataset_full/
A1/output/cottage_scene.gif
A2/*.pth
A2_curr/
A3/data/
A3/nerf_materials/
A3/volsdf_checkpoint*
A3/outputs
A3/points_checkpoint*
A3/checkpoints*
A4/Q1/data/materials/
A4/nvdiffrast
